.progressLightBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-title{
color: white;
}
.modal-header {
   background:#888888 ;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.topborder{
  text-align: center;
};

