<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About Me</h1>
            <ol class="breadcrumb">
                <li><a href="./index.html">Profile Home</a>
                </li>
                <li class="active">About Me</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <img class="img-responsive" src="image/saravanakumar.jpg">
        </div>
        <div class="col-md-8">
            <h2>Welcome to my Summary</h2>

            <p>I am a Front End Web Developer with over 9 years of experience in UI and web application development. I am obsessed with expanding my expertise and solving challenging problems.</p>

            <ul class="list-group">
            <li class="list-group-item">Proficient in SDLC phases and highly competent in gathering user requirements.</li>
            <li class="list-group-item">   Solid understanding of Object Oriented Programming and Design Patterns.
            </li>
            <li class="list-group-item"> Excellent in creating Rich User Experience web applications and Games using HTML5, CSS3, JavaScript, jQuery, SASS, LESS, Angular.js, Dojo, Node.js and Flash.</li>
            <li class="list-group-item">Good knowledge in web contents utilizing SEO techniques, Refactoring and Optimization of Single Page Application.</li>
            <li class="list-group-item">Experience in Agile environment.</li>
            <li class="list-group-item">Expert in Debugging and Profiling web applications using Chrome Dev-Tools and Firebug.</li>
            <li class="list-group-item">Excellent experience in Restful Web services and Web Sockets.</li>
            <li class="list-group-item">Experience in dealing with cross browser compatibility.</li>
            <li class="list-group-item">Good Experience in Hybrid Mobile application development.</li>
            <li class="list-group-item">Expert in Responsive Web Designs using Media Queries and Bootstrap.</li>
            <li class="list-group-item">Good Understanding of UX Design and User experience.</li>
            <li class="list-group-item">Exposure to tools like npm, Grunt, Bower and Yoeman.</li>
            <li class="list-group-item">Worked closely with UX Designers, and Game content developers.</li>
            <li class="list-group-item">Experience in working offshore Stakeholders and Subject Matter Experts.</li>
            <li class="list-group-item">Excellent team player with strong creativity, problem-solving skills and proficiency in grasping new technical concepts quickly.</li>
            </ul>
        </div>

    </div>


</div>
