
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Education</h1>
            <ol class="breadcrumb">
                <li><a href="./index.html">Profile Home</a>
                </li>
                <li class="active">Education</li>
            </ol>
        </div>

    </div>
    

    <div class="row">

      <div class="col-lg-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Education</h3>
          </div>
          <div class="panel-body">
            <p>Bachelor of Science in Mathematics</p>
            <p>Microsoft Specialist: Programming in HTML5 with JavaScript and CSS3 Specialist</p>
          </div>
        </div>
      </div>

    </div>
    

  <div class="row">

        <div class="col-md-6">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Personal Interest</h3>
            </div>
            <div class="panel-body">
              <p>Online Gaming, Film, Cricket, Body building and Travel.</p>
            </div>
          </div>
 
      </div>

      <div class="col-md-6">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Personal Details</h3>
            </div>
            <div class="panel-body">
              <p>An Australia Permanent resident.</p>
              <p>Marital Status: Married</p>
            </div>
          </div>            
      </div>

    </div>
    
</div>
