<div class="section-colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>PERSONAL SUMMARY</h2>
                <h4>I am a Front End Web Developer with 9 years of experience in application design and development in software industry across the domains. I have done Bachelors in Mathematics and have been working in HTML5, AngularJS, JavaScript, CSS, LESS, SASS, jQuery, NodeJS, Flash, Flash builder and Photoshop.</h4>
                <hr>
            </div>
        </div>        
    </div>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-plane"></i> Where I am From</h3>
                <p>Born in india</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-university"></i> Education</h3>
                <p>Studied Mathematics</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-laptop"></i> Profession</h3>
                <p>Front End Web Developement</p>
            </div>
        </div>
    </div>
    
</div>



<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Gallery</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                    <img class="img-responsive img-home-portfolio" src="image/sitting.jpg">
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                    <img class="img-responsive img-home-portfolio" src="image/looking.jpg">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                    <img class="img-responsive img-home-portfolio" src="image/opera.jpg">
                
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                
                    <img class="img-responsive img-home-portfolio" src="image/straight.jpg">
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                    <img class="img-responsive img-home-portfolio" src="image/smile.jpg">
                
            </div>

        </div>

    </div>
    

</div>

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8 text-centre">
            <h4>'Work hard. Have fun. Make history.</h4>            
        </div>        
    </div>
    
</div>
